# -------------------------------
# CPU-only PyTorch (VERY IMPORTANT)
# -------------------------------
--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.4.1+cpu
torchvision==0.19.1+cpu

# -------------------------------
# Vision / Model utils
# -------------------------------
timm==1.0.20

# -------------------------------
# API Server
# -------------------------------
fastapi==0.115.4
uvicorn[standard]==0.30.6
gunicorn==21.2.0

# -------------------------------
# Image processing
# -------------------------------
pillow==10.4.0
